<nav class="global-header noindex hidden-print">
  <div class="container">
    <a class="navbar-brand" href="{{ org_url }}">
    <img class="logo" alt="logo" src="https://stijl.kuleuven.be/2016/img/svg/logo.svg" width="157" height="56"/></a>
    <div class="controls">
      {{> searchform header.search_form id='words' classes='hidden-md-down' }}

      <a href="#" class="btn-toggle hidden-md-down" role="button"
         aria-expanded="false"
         aria-controls="kuleuven-menu"
         data-toggle="collapse" data-target="#kuleuven-menu">Info
         <span class="lines"></span>
      </a>
         
      <a href="#"
         class="btn-toggle hidden-lg-up js-flyout-toggle flyout-toggle collapsed"
         role="button" aria-expanded="false"
         aria-controls="flyout-menu"
         data-toggle="collapse" data-target="#flyout-menu">Info
         <span class="arrow"></span>
      </a>
    </div>
  </div>

  <div class="container hidden-md-down">
    <div class="nav navbar-nav navbar-collapse collapse" id="kuleuven-menu" role="navigation" aria-expanded="false">
      <nav class="nav-main pull-lg-left">
        {{> dropdown-menu items=header.nav_main }}
      </nav>
      {{#if header.nav_services }}
      <nav class="nav-service pull-lg-right">
        {{> dropdown-menu items=header.nav_services }}
      </nav>
      {{/if}}
    </div>
  </div>
</nav>