#langswitch-options {
  min-width: auto;
}
.navbar-nav {
  font-weight: 600;
}

@include media-breakpoint-up('lg') {
  .navbar-nav {
    margin-left: -2rem;
  }
}

.navbar-nav {
  .nav-link {
    position: relative;

    &::after {
      opacity: 0;
      content: '';
      display: block;
      margin-top: 0.375em;
      width: 0;
      height: 3px;
      transition: 0.5s width linear;
      background-color: $tertiary;
    }
    &.active::after {
      background-color: $brand;
    }
    &:hover::after, &.active::after {
      width: 100%;
      opacity: 1;
    }
  }
}


.container-langswitch {
  .dropdown-langswitch {
    margin-top: -3rem;
    right: 0;
    position: absolute;
  }
}