<div class="local-header">
  {{#if title}}
  <div class="container container-title">
    <h1 class="text-center text-sm-start">{{ title }}</h1>
  </div>
  {{/if}}
  <div class="container container-langswitch position-relative text-tertiary">
    <div class="dropdown dropdown-langswitch">
      <button class="btn dropdown-toggle text-tertiary" type="button" id="langswitch" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="material-icons align-top">public</span>
        NL
      </button>
      <ul class="dropdown-menu" id="langswitch-options" aria-labelledby="langswitch">
        <li><a class="dropdown-item text-tertiary" href="#" title="Nederlands">NL</a></li>
        <li><a class="dropdown-item text-tertiary" href="#" title="English">EN</a></li>
      </ul>
    </div>
  </div>
  {{#if nav}}
  <div class="container container-navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#page-navigation" aria-controls="page-navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="page-navigation">
        <div class="navbar-nav">
          {{#each nav}}
          <a class="nav-link{{#if active}} active{{/if}}"{{#if active}} aria-current="page"{{/if}} href="{{ link }}">{{ label }}</a>
          {{/each}}
        </div>
      </div>
    </nav>
  </div>
  {{/if}}
</div>