<div class="alert{{#if variant}} alert-{{ variant }}{{/if}}{{#if dismissible}} alert-dismissible fade show{{/if}}" role="alert">
  {{#if icon }}
    <i class="material-icons me-1 fw-bolder">{{ icon }}</i>
  {{/if}}
  {{#if title }}
    <strong class="me-1">{{ title }}</strong>
  {{~/if}}
  {{{ contents }}}
  {{#if dismissible }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {{/if}}
</div>