<div class="global-header noindex d-print-none">
  <header class="bg-brand">
    <div class="container container-header my-2 mt-sm-0 mb-sm-4">
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-center text-sm-start mb-n2 mb-sm-0">
          <a class="header-org-permalink position-relative d-inline-block" href="{{ org_url }}">
            <img class="header-org-logo logo img-fluid" alt="logo" src="../static/img/svg/logo.svg" width="157" height="56"/>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 text-center text-sm-end">
          <a class="header-org-backlink text-white p-2 d-inline-block" href="{{ org_url }}">{{ backlink_text }} 
            <i class="material-icons position-absolute">keyboard_arrow_right</i>
          </a>
        </div>
      </div>
    </div>
  </header>
</div>