{{#if items }}
<ol class="breadcrumb">
  {{#each items as |item| }}
    {{#if item.active }}
      <li class="breadcrumb-item active">{{ item.label }}</li>
    {{else}}
      <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.label }}</a></li>
    {{/if}}
  {{/each}}
</ol>
{{/if}}