<form class="form-search {{ classes }}" role="search" action="{{ action }}" method="get" name="searchform">
  <input type="text" class="form-control" placeholder="{{ placeholder }}" name="k" {{#if id}}id="{{id}}"{{/if}}>
  <button type="submit" class="btn btn-primary">
    <i class="material-icons">search</i>
  </button>
</form>