<div class="row gx-0">
  <div class="col-md-6">
    <img class="image-fluid" src="https://via.placeholder.com/400x500" alt="">
  </div>
  <div class="col-md-6">
    <div class="card">
    </div>
    {{{ contents }}}
  </div>
</div>